<!DOCTYPE html>
<html lang="en" ng-app="messenger">
<head>
	<meta charset="UTF-8">
	<title>Messenger for SharpSchool</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Either use CDN versions of bootstrap or concatenate for production -->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<main ng-view class="col-sm-12"></main>
		</div>
	</div>

	<br><br>

	<footer>
		<p class="text-center">Copyright &copy <a href="mailto:yuri@borunov.com">Yuri Borunov</a>, 2015</p>
	</footer>

	<script type="text/ng-template" id="messages.html">
		<h1>Messages page</h1>
		<br>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<div class="alert alert-danger" ng-show="errorMessage" ng-bind="errorMessage"></div>
				<table class="table table-stripped">
					<tr>
						<th>id</th>
						<th>name</th>
						<th>isPublished</th>
					</tr>
					<tr ng-repeat="message in messagesList">
						<td ng-bind="message.id"></td>
						<td ng-bind="message.name"></td>
						<td ng-bind="message.isPublished"></td>
					</tr>
				</table>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="login.html">
		<h1>Login view</h1>
		<br>
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="alert alert-danger" ng-show="errorMessage" ng-bind="errorMessage"></div>
				<form ng-submit="signin()">
					<div class="form-group">
						<label for="username">Login</label>
						<input type="text" class="form-control" id="username" ng-model="signinForm.username" placeholder="Enter login here">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" id="password" ng-model="signinForm.password" placeholder="Enter password here">
					</div>
					<div class="form-group">
						<label for="customer">Customer</label>
						<input type="text" class="form-control" id="customer" ng-model="signinForm.customer" placeholder="Enter customer here">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-default">Sign in</button>
					</div>
				</form>
			</div>
		</div>
	</script>

	<!-- Either use CDN versions of libs or concatenate for production -->
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	
	<!-- Minify and concatenate files for production -->
	<script src="js/src/messenger.js"></script>
	<script src="js/src/services/session.js"></script>
	<script src="js/src/services/messages.js"></script>
	<script src="js/src/controllers/MessagesCtrl.js"></script>
	<script src="js/src/controllers/LoginCtrl.js"></script>
</body>
</html>